.widget .hero
{
    position: relative;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.widget .hero .hero-slider
{
    position: relative;

    overflow: hidden;

    height: 360px;
    margin: 0;

    list-style: none;
}

.widget .hero .hero-slider li
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
         -o-transform: translateX(100%);
            transform: translateX(100%);
}

.widget .hero .hero-slider li.selected
{
    /* this is the visible slide */
    position: relative;

    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
}

.widget .hero .hero-slider li.move-left
{
    /* slide hidden on the left */
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%);
}

.widget .hero .hero-slider li.is-moving,
.widget .hero .hero-slider li.selected
{
    /* the is-moving class is assigned to the slide which is moving outside the viewport */
    -webkit-transition: -webkit-transform .5s;
       -moz-transition:    -moz-transform .5s;
            transition:         transform .5s;
}

/* --------------------------------
Single slide style
-------------------------------- */
.widget .hero .hero-slider li
{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.widget .hero .hero-slider li:first-of-type
{
    background-color: #333;
}

.widget .hero .hero-slider li:nth-of-type(2)
{
    background-color: #303030;
    background-image: url('../assets/tech-1-mobile.jpg');
}

.widget .hero .hero-slider li:nth-of-type(3)
{
    background-color: #272727;
    background-image: url('../assets/tech-2-mobile.jpg');
}

.widget .hero .hero-slider li:nth-of-type(4)
{
    background-color: #242424;
    background-image: url('../assets/video-replace-mobile.jpg');
}

.widget .hero .hero-slider li:nth-of-type(5)
{
    background-color: #212121;
    background-image: url(../assets/img.jpg);
}

.widget .hero .hero-slider .full-width,
.widget .hero .hero-slider .half-width
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    /* this padding is used to align the text */
    padding-top: 100px;

    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
         -o-transform: translateZ(0);
            transform: translateZ(0);
    text-align: center;
    /* Force Hardware Acceleration in WebKit */

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.widget .hero .hero-slider .img-container
{
    /* hide image on mobile device */
    display: none;
}

.widget .hero .hero-slider .img-container img
{
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;

    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

.widget .hero .hero-slider .bg-video-wrapper
{
    position: absolute;
    top: 0;
    left: 0;
    /* hide video on mobile device */

    display: none;
    overflow: hidden;

    width: 100%;
    height: 100%;
}

.widget .hero .hero-slider .bg-video-wrapper video
{
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    /* you won't see this element in the html, but it will be injected using js */

    display: block;

    width: auto;
    min-width: 100%;
    max-width: none;
    height: auto;
    min-height: 100%;

    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

.widget .hero .hero-slider h2,
.widget .hero .hero-slider p
{
    line-height: 1.2;

    max-width: 1320px;
    margin: 0 auto 14px;
    padding: 0 4.5455%;

    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.widget .hero .hero-slider h2
{
    font-family: 'Merriweather', serif;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;

    clear: both;

    margin-bottom: .5em;

    letter-spacing: .025em;

    text-shadow: 1px 1px #222, 2px 2px #222, 3px 3px #222;

    text-rendering: optimizeLegibility;
}

.widget .hero .hero-slider h2 a
{
    color: white;
}

.widget .hero .hero-slider p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

.widget .hero .hero-slider .btn
{
    font-weight: 700;
    line-height: 1;

    display: inline-block;

    padding: .84375em .875em .78125em;

    letter-spacing: .046875em;
    text-transform: uppercase;

    color: #333;
    border: 1px solid #fa0;
    border-radius: 2px;
    background-color: #fa0;
}

.widget .hero .hero-slider .btn.secondary
{
    background-color: rgba(22, 26, 30, .8);
}

.widget .hero .hero-slider .btn:nth-of-type(2)
{
    margin-left: 1em;
}

.no-touch .widget .hero .hero-slider .btn:hover
{
    background-color: #d44457;
}

.no-touch .widget .hero .hero-slider .btn.secondary:hover
{
    background-color: #161a1e;
}

/* --------------------------------
Slider navigation
-------------------------------- */
.slider-nav
{
    line-height: 0;

    position: relative;
    z-index: 2;

    max-width: 1320px;
    margin: 0 auto;
    margin-bottom: 1.6153846154em;

    text-align: left;
}

.slider-nav nav,
.slider-nav ul,
.slider-nav li,
.slider-nav a
{
    height: 100%;
}

.slider-nav nav
{
    position: relative;

    display: inline-block;

    padding: 0 4.5455%;
}

.slider-nav .marker
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 60px;
    height: 100%;

    -webkit-transition: -webkit-transform .2s, box-shadow .2s;
       -moz-transition:    -moz-transform .2s, box-shadow .2s;
            transition:         transform .2s, box-shadow .2s;

    color: #d44457;
    background-color: #fff;
    box-shadow: inset 0 2px 0 currentColor;
}

.slider-nav .marker.item-2
{
    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
         -o-transform: translateX(100%);
            transform: translateX(100%);
}

.slider-nav .marker.item-3
{
    -webkit-transform: translateX(200%);
       -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
         -o-transform: translateX(200%);
            transform: translateX(200%);
}

.slider-nav .marker.item-4
{
    -webkit-transform: translateX(300%);
       -moz-transform: translateX(300%);
        -ms-transform: translateX(300%);
         -o-transform: translateX(300%);
            transform: translateX(300%);
}

.slider-nav .marker.item-5
{
    -webkit-transform: translateX(400%);
       -moz-transform: translateX(400%);
        -ms-transform: translateX(400%);
         -o-transform: translateX(400%);
            transform: translateX(400%);
}

.slider-nav ul,
.widget .slider-nav ul
{
    margin: 0;
}

.slider-nav ul::after
{
    display: table;
    clear: both;

    content: '';
}

.slider-nav li
{
    display: inline-block;
    float: left;
}

.slider-nav li.selected a
{
    color: #333;
    border: 1px solid #fa0;
    background-color: #fa0;
}

.slider-nav li.selected a:hover
{
    background-color: #fb0;
}

.no-touch .slider-nav li.selected a:hover
{
    background-color: transparent;
}

.slider-nav a
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;

    position: relative;

    display: block;

    padding: .3846153846em .5384615385em;

    transition: background 400ms ease-in-out, border 400ms ease-in-out;
    letter-spacing: .5px;

    color: #fa0;
    border: 1px solid #fa0;
    background-color: rgba(0, 0, 0, 0);
}

.slider-nav a + a
{
    margin-left: .5384615385em;
}

.slider-nav li:first-child a
{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.slider-nav li:last-child a
{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.slider-nav a:hover
{
    border-color: #fb0;
}

.slider-nav a:before
{
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transition: opacity 400ms ease-in-out;

    opacity: 0;
    border-radius: inherit;
    background-image: linear-gradient(rgba(255, 187, 0, .5), rgba(255, 187, 0, 0));
}

.slider-nav a:hover:before
{
    opacity: 1;
}

/**
 * 14.1 - >= 710px
 */

@media screen and (min-width: 44.375em)
{
    .widget .hero .hero-slider
    {
        height: 500px;
    }

    .widget .hero .hero-slider li:nth-of-type(2)
    {
        background-image: none;
    }


    .widget .hero .hero-slider li:nth-of-type(3)
    {
        background-image: none;
    }


    .widget .hero .hero-slider li:nth-of-type(4)
    {
        background-image: none;
    }


    .widget .hero .hero-slider .full-width,
    .widget .hero .hero-slider .half-width
    {
        padding-top: 150px;
    }


    .widget .hero .hero-slider .bg-video-wrapper
    {
        display: block;
    }


    .widget .hero .hero-slider .half-width
    {
        width: 45%;
    }


    .widget .hero .hero-slider .half-width:first-of-type
    {
        left: 5%;
    }


    .widget .hero .hero-slider .half-width:nth-of-type(2)
    {
        right: 5%;
        left: auto;
    }

    .widget .hero .hero-slider .img-container
    {
        display: block;
    }

    .widget .hero .hero-slider h2
    {
        font-size: 33px;
        font-size: 2.0625rem;
        line-height: 1.2727272727;

        margin-bottom: .8484848485em;
    }

    .widget .hero .hero-slider .btn
    {
        font-size: 1.4rem;
    }

    .widget .hero .hero-slider .half-width
    {
        -webkit-transform: translateX(40px);
           -moz-transform: translateX(40px);
            -ms-transform: translateX(40px);
             -o-transform: translateX(40px);
                transform: translateX(40px);

        opacity: 0;
    }

    .widget .hero .hero-slider .move-left .half-width
    {
        -webkit-transform: translateX(-40px);
           -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                transform: translateX(-40px);
    }

    .widget .hero .hero-slider .selected .half-width
    {
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
            -ms-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
        /* this is the visible slide */

        opacity: 1;
    }

    .widget .hero .hero-slider .is-moving .half-width
    {
        /* this is the slide moving outside the viewport
    wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
        -webkit-transition: opacity 0s .5s, -webkit-transform 0s .5s;
           -moz-transition: opacity 0s .5s, -moz-transform 0s .5s;
                transition: opacity 0s .5s, transform 0s .5s;
    }

    .widget .hero .hero-slider li.selected.from-left .half-width:nth-of-type(2),
    .widget .hero .hero-slider li.selected.from-right .half-width:first-of-type
    {
        /* this is the selected slide - different animation if it's entering from left or right */
        -webkit-transition: opacity .4s .2s, -webkit-transform .5s .2s;
           -moz-transition: opacity .4s .2s, -moz-transform .5s .2s;
                transition: opacity .4s .2s, transform .5s .2s;
    }

    .widget .hero .hero-slider li.selected.from-left .half-width:first-of-type,
    .widget .hero .hero-slider li.selected.from-right .half-width:nth-of-type(2)
    {
        /* this is the selected slide - different animation if it's entering from left or right */
        -webkit-transition: opacity .4s .4s, -webkit-transform .5s .4s;
           -moz-transition: opacity .4s .4s, -moz-transform .5s .4s;
                transition: opacity .4s .4s, transform .5s .4s;
    }

    .widget .hero .hero-slider .full-width h2,
    .widget .hero .hero-slider .full-width p,
    .widget .hero .hero-slider .full-width .btn
    {
        -webkit-transform: translateX(100px);
           -moz-transform: translateX(100px);
            -ms-transform: translateX(100px);
             -o-transform: translateX(100px);
                transform: translateX(100px);

        opacity: 0;
    }

    .widget .hero .hero-slider .move-left .full-width h2,
    .widget .hero .hero-slider .move-left .full-width p,
    .widget .hero .hero-slider .move-left .full-width .btn
    {
        -webkit-transform: translateX(-100px);
           -moz-transform: translateX(-100px);
            -ms-transform: translateX(-100px);
             -o-transform: translateX(-100px);
                transform: translateX(-100px);

        opacity: 0;
    }

    .widget .hero .hero-slider .selected .full-width h2,
    .widget .hero .hero-slider .selected .full-width p,
    .widget .hero .hero-slider .selected .full-width .btn
    {
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
            -ms-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
        /* this is the visible slide */

        opacity: 1;
    }

    .widget .hero .hero-slider li.is-moving .full-width h2,
    .widget .hero .hero-slider li.is-moving .full-width p,
    .widget .hero .hero-slider li.is-moving .full-width .btn
    {
        /* this is the slide moving outside the viewport
    wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px */
        -webkit-transition: opacity 0s .5s, -webkit-transform 0s .5s;
           -moz-transition: opacity 0s .5s, -moz-transform 0s .5s;
                transition: opacity 0s .5s, transform 0s .5s;
    }

    .widget .hero .hero-slider li.selected h2
    {
        -webkit-transition: opacity .4s .2s, -webkit-transform .5s .2s;
           -moz-transition: opacity .4s .2s, -moz-transform .5s .2s;
                transition: opacity .4s .2s, transform .5s .2s;
    }

    .widget .hero .hero-slider li.selected p
    {
        -webkit-transition: opacity .4s .3s, -webkit-transform .5s .3s;
           -moz-transition: opacity .4s .3s, -moz-transform .5s .3s;
                transition: opacity .4s .3s, transform .5s .3s;
    }

    .widget .hero .hero-slider li.selected .btn
    {
        -webkit-transition: opacity .4s .4s, -webkit-transform .5s .4s, background-color .2s 0s;
           -moz-transition: opacity .4s .4s, -moz-transform .5s .4s, background-color .2s 0s;
                transition: opacity .4s .4s, transform .5s .4s, background-color .2s 0s;
    }

    .slider-nav a
    {
        font-size: 1.1rem;

        text-transform: uppercase;
    }
}

/**
 * 14.3 - >= 910px
 */

@media screen and (min-width: 56.875em)
{
    .widget .hero .hero-slider
    {
        height: 680px;
    }

    .widget .hero .hero-slider .full-width,
    .widget .hero .hero-slider .half-width
    {
        padding-top: 220px;
    }

    .widget .hero .hero-slider h2,
    .widget .hero .hero-slider p
    {
        margin-bottom: 20px;
    }

    .widget .hero .hero-slider h2
    {
        font-size: 40px;
        font-size: 2.5rem;
        line-height: 1.225;

        margin-bottom: 1.05em;
    }
}
